{{!-- Actor Attributes Partial --}}
<div class="attributes">
  <h3>{{localize "CONAN.CharacterSheet.attributes"}}</h3>
  <div class="attribute-grid">
    {{#each system.attributes as |attr key|}}
    <div class="attribute" data-attribute="{{key}}">
      <label class="attribute-label">{{localize (concat "CONAN.Attributes." key ".label")}}</label>
      <input type="number" name="system.attributes.{{key}}.value" value="{{attr.value}}" min="1" max="8" data-dtype="Number"/>
      <div class="attribute-mod rollable" data-action="rollAttribute" data-attribute="{{key}}" title="{{localize 'CONAN.Common.roll'}}">
        <i class="fas fa-dice-d20"></i>
      </div>
    </div>
    {{/each}}
  </div>
</div>
