<form class="difficulty-form {{#if isPoisoned}}poisoned-dialog{{/if}}">
  {{#if isPoisoned}}
  <div class="poison-warning">
    <i class="fas fa-skull-crossbones poison-skull" style="color: #15a20e;"></i>
    <span>{{localize "CONAN.Poisoned.rollPenalty"}}: -{{poisonMultiplier}}</span>
  </div>
  {{/if}}
  <div class="form-group">
    <label for="difficulty">{{label}}</label>
    <p class="hint">{{hint}}</p>
    <div class="difficulty-input-group">
      <input type="number" name="difficulty" id="difficulty" value="{{defaultDifficulty}}" min="1" max="30" autofocus />
      <span class="difficulty-label" data-difficulty-label></span>
    </div>
  </div>
  
  <div class="form-group modifier-group">
    <label for="modifier">
      <span class="primary-label">{{modifierLabel}}</span>
      <span class="subtitle-label">Modifier</span>
    </label>
    <div class="modifier-controls">
      <span class="modifier-value-label">{{modifier}}</span>
      <input type="range" name="modifier" id="modifier" value="{{modifier}}" min="-3" max="3" step="1" />
      <div class="modifier-scale">
        <span>-3</span>
        <span>-2</span>
        <span>-1</span>
        <span>0</span>
        <span>+1</span>
        <span>+2</span>
        <span>+3</span>
      </div>
    </div>
  </div>
  
  <footer class="dialog-buttons">
    <button type="button" class="dialog-button" data-action="roll">
      <i class="fas fa-dice-d20"></i> {{rollLabel}}
    </button>
    <button type="button" class="dialog-button" data-action="cancel">
      <i class="fas fa-times"></i> {{cancelLabel}}
    </button>
  </footer>
</form>
